




button {
  border-radius: 2px;
}







.thermal-keeb .splash-desc, 
.duck .splash-desc {
  margin-top: 10%;
}





.u80 button:hover,
.thermal-keeb button:hover,
.grid-keycaps button:hover,
.duck button:hover {
  background-color: #ffc80f;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  color: black;
  -webkit-transition: color 400ms linear;
  -ms-transition: color 400ms linear;
  transition: color 400ms linear;
} 

.image{
  background-image: url(../Images/image6.jpg);
  /* background-repeat: no-repeat;  */
  width:auto;
  height: 600px;
  /* background-size: cover; 
  background-size: contain; */
  background-attachment: fixed;
  background-position: center top;
 

}

.homepage img {
   width: 100vw;
   background-image: url(../Images/image6.jpg);
}
/* 
@keyframes zoominoutsinglefeatured {
.airforce {
  position: relative;
  margin-top: 10%;
  animation: zoominoutsinglefeatured 3s;
  filter: brightness(50%);
} */