.navitems{
  font-size: 17px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgb(77, 71, 71) 1px;
  color: #1c1d1d;
  z-index: 10000;
  position: sticky;
  top: 0px;
  padding: 20px 15%;
  height:7vh; 
  background-color: transparent;
  background-attachment: fixed;
  background-position: auto,center top;
  background-image: url(../assets/image11.jpg); 
   
}

.navitems a:hover{
  transform: scale(1,1);
  cursor: pointer;

}

.nav-links {
  display: flex;
}

.name {
  font-size: 40px;
  cursor: pointer;
  color: rgb(236, 220, 220);
  padding-right: 50px;
  
}


.store, .catalog, .about-me {
  cursor: default;
  color: rgb(197, 197, 221);
  padding: 20px;
  cursor: pointer;
  
}

.icons {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  color: rgb(230, 236, 243);
  }

.profile-icon, .search-icon, .cart-icon {
  margin: 0px 20px;
  font-size: 20px;
  color: rgb(224, 231, 238);
}

.cart-collapse button {
  border: none;
  padding: 0 0;
}

.hide {
  display: none;
}


